$background-color: #bbbbcc;
$primary-color: #0f0f94;
$secondary-color: orange;
%main-div-style {
  background-color: $primary-color;
  border: 5px solid $secondary-color;
  color: $secondary-color;
  border-radius: 0.7rem;
  width: fit-content;
  box-shadow: 0 0px 6px 0px rgba(0, 0, 0, 0.75), 0 0 20px 0px rgba(0, 0, 0, 0.75), 0 0 40px 0px rgba(0, 0, 0, 0.75);
  height: 90vh;
}

body {
  background-color: $background-color;
  min-height: 100vh;
  margin: 0;
}

.App {
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.menu-page {
  @extend %main-div-style;
  position: relative;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  transition: 0.3s;
  .loading {
    margin: auto;
    font-size: 30px;
  }
  .body-header {
    text-align: center;
    padding: 2rem;
    font-weight: 900;
    p {
      margin: 1rem 0;
      font-size: 25px;
    }
    .main-header {
      display: flex;
      h2 {
        margin: 0 0.5rem;
        font-size: 50px;
      }
      svg {
        margin-top: 0.3rem;
      }
    }
  }
  .start-quiz-button {
    font-size: 40px;
    padding: 2rem;
    box-shadow: 0 0 6px 3px #000000b0;
    margin: auto;
    transition: 0.2s;
  }
  .start-quiz-button:hover {
    box-shadow: 0 0 10px orange, 0 0 40px orange, 0 0 60px orange;
    background-color: orange;
  }
}
.question-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  text-align: center;
  margin: 2rem 1rem 1rem 1rem;
  position: relative;
  .confirm-answer {
    @extend %main-div-style;
    position: absolute;
    top: 28%;
    width: 98%;
    height: fit-content;
    transform: scale(1);
    transition: 0.3s;
    z-index: 100;
    p {
      font-size: 20px;
      margin: 1rem;
    }
    button {
      margin: 1rem;
    }
  }
  .confirm-answer.hidden {
    transform: scale(0);
    transition: 0.2s;
  }
  .question {
    border: 5px solid orange;
    border-radius: 0.7rem;
    padding: 1rem;
  }
  .question-options {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    padding: 2rem 1rem;
    .option {
      border: 2px solid $secondary-color;
      border-radius: 1rem;
      background-color: $primary-color;
      color: $secondary-color;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      width: 40%;
      margin: 0.7rem;
      transition: 0.2s;
    }
    .option:hover,
    .option.active {
      background-color: $secondary-color;
      color: $primary-color;
    }
    .option.correct {
      background-color: rgb(47, 255, 47);
    }
    .option.false {
      background-color: red;
    }
    .option.filtered {
      transform: scale(0);
    }
  }
  .question-options.no-events {
    pointer-events: none;
  }
  .friends-answer {
    position: absolute;
    @extend %main-div-style;
    height: fit-content;
    top: 26%;
    width: -webkit-fill-available;
    padding: 2rem;
    text-align: center;
    svg {
      position: absolute;
      top: 8px;
      right: 8px;
      cursor: pointer;
    }
  }
}
.quiz-completed,
.save-score,
.game-over {
  position: absolute;
  @extend %main-div-style;
  height: fit-content;
  top: 32px;
  width: 84%;
  padding: 2rem;
  text-align: center;
  z-index: 150;
  button {
    margin: 1rem;
  }
}
.save-score {
  h2 {
    margin-bottom: 2rem;
  }
  input {
    padding: 1rem;
    border-radius: 0.5rem;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 1rem;
  }
}
.best-results-page {
  position: absolute;
  @extend %main-div-style;
  height: -webkit-fill-available;
  width: -webkit-fill-available;
  z-index: 150;
  padding: 1rem 3rem;
  svg {
    position: absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;
  }
  h1 {
    text-align: center;
    margin-bottom: 2rem;
  }
  .best-results {
    .result {
      display: flex;
      justify-content: space-around;
      font-size: 20px;
      font-weight: 900;
      padding: 0.5rem;
      border-bottom: 1px solid;
      .user-name {
        width: 100%;
      }
    }
  }
}

.question-helps-page {
  width: 20%;
  @extend %main-div-style;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  transition: 0.3s;
  .question-help {
    display: flex;
    justify-content: space-around;
    img {
      height: 60px;
      cursor: pointer;
    }
    .helper-cross {
      position: absolute;
      z-index: 100;
      cursor: default;
    }
  }
}
.progress-list-page {
  width: 20%;
  @extend %main-div-style;
  transition: 0.3s;
  svg {
    display: none;
  }
  .question-numbers {
    height: -webkit-fill-available;
    margin: 0.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    p {
      margin: 0;
      display: flex;
      justify-content: space-between;
      padding: 0.3rem;
      font-weight: 900;
      border-bottom: 1px solid;
    }
    .current {
      background-color: $secondary-color;
      color: $primary-color;
    }
    .earned {
      background-color: black;
    }
  }
}

.button {
  padding: 1rem;
  font-size: 20px;
  font-weight: 600;
  background-color: $secondary-color;
  color: $primary-color;
  border: 0;
  outline: none;
  border-radius: 0.4rem;
}
.button:hover {
  background-color: #c37e00;
}
.button.hidden {
  display: none;
}
.question-helps-page.hidden {
  transform: translateX(-120%);
}
.progress-list-page.hidden {
  transform: translateY(-120%);
}

@media only screen and (max-width: 800px) {
  .App {
    padding: 0;
    height: 100vh;
    .question-helps-page {
      position: fixed;
      flex-direction: row;
      z-index: 200;
      height: fit-content;
      width: 100%;
      bottom: 0;
      border: none;
      border-radius: 0;
      padding: 1rem 0;
      border-top: 2px solid;
    }
    .menu-page {
      width: 100%;
      height: 100%;
      margin: 0;
      border: none;
      border-radius: 0;
      justify-content: space-around;
      .start-quiz-button {
        margin: 0;
      }
      .question-page {
        .question-options {
          margin-bottom: 5rem;
          padding: 2rem 0rem;
          .option {
            width: 41%;
          }
        }
      }
      .quiz-completed,
      .save-score,
      .game-over {
        width: fit-content;
        top: 0;
      }
      .quiz-completed {
        h1 {
          font-size: 20px;
        }
      }
    }
    .progress-list-page {
      position: absolute;
      right: 0;
      top: 0;
      width: 42%;
      height: 84%;
      svg {
        display: block;
        position: absolute;
        bottom: -17%;
        right: 0;
      }
      .hide {
        display: none;
      }
    }
    .progress-list-page.mobile-hidden {
      transform: translateY(-111%);
    }
  }
}
